#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: black;
    border: none;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 350px;
}
.input-control textarea {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 350px;
    height: 150px;
}
.input-control select {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 350px;
}

.input-control input:focus, .input-control textarea:focus {
    outline: 0;
}

.input-control.success input, .input-control.success textarea, .input-control.success select {
    border-color: #09c372;
}

.input-control.error input, .input-control.error textarea, .input-control.error select {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

@media (max-width: 650px)
{
    .input-control input {
        width: 300px;
    }
    .input-control textarea {
        width: 300px;
    }
    .input-control select {
        width: 300px;
    }
    .input-control button {
        width: 300px;
    }
}
@media (max-width: 450px)
{
    .input-control input {
        width: 250px;
    }
    .input-control textarea {
        width: 250px;
    }
    .input-control select {
        width: 250px;
    }
    .input-control button {
        width: 250px;
    }
}
@media (max-width: 350px)
{
    .input-control input {
        width: 200px;
    }
    .input-control textarea {
        width: 200px;
    }
    .input-control select {
        width: 200px;
    }
    .input-control button {
        width: 200px;
    }
}


