/* Variables */
:root {
    --color-1: white;
    --color-2: black;
    --color-3: grey;
    --font-1: "Poppins", sans-serif;
    --side-padding: 60px;
    --section-bottom-margin: 100px;
  }


/* Default styling */
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
    font-family: var(--font-1);
}
h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    font-family: var(--font-1);
}
h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    font-family: var(--font-1);
}
h3 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    font-family: var(--font-1);
}
h4 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    font-family: var(--font-1);
}
h5 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    font-family: var(--font-1);
}
h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    font-family: var(--font-1);
}
p {

}
a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    font-family: var(--font-1);
}


/* Style presets */

/* Emphasized link */
.emphasized-link a {
    background-color: var(--color-2);
    color: var(--color-1);
    font-size: 1rem;
    font-family: var(--font-1);
    padding: 12px;
}
.emphasized-link {
    background-color: transparent;
}   
.emphasized-link :hover {
    background-color: var(--color-3);
    border-color: var(--color-3);
}
.link:hover
{
    text-decoration: underline;
}


/* Blocks */

/* Header */
.header__wrapper {
    position: fixed;
    width: 100%;
    top: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px var(--side-padding);
    background-color: white;
}
.header img {
    height: 60px;
}
.nav {
    display: flex;
    align-items: center;
}
.nav__item {
    padding-left: 20px;
}

/* Banner */
.banner {
    height: 550px;
    background-image: url(images/banner-dark-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: var(--section-bottom-margin);
}
.banner__text {
    text-align: center;
}
.banner__text h1 {
    color: var(--color-1);
    margin-bottom: 10px;
}
.banner__text h5 {
    color: var(--color-1);
    margin-bottom: 30px;
}

/* Trusted by */
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.trusted-by {
    text-align: center;
    margin-bottom: var(--section-bottom-margin);
    overflow: hidden;
    white-space: nowrap;
}
.trusted-by img {
    height: 80px;
    margin: 0px 40px;
}
.trusted-by__images {
    align-items: center;
    animation: 35s slide infinite linear;
    display: inline-block;
}
.trusted-by h3 {
    margin-bottom: 30px;
}

/* Services */
.services {
    display: flex;
    justify-content: center;
    margin-bottom: var(--section-bottom-margin);
}
.services__grid {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
}
.services__grid img {
    width: 400px;
}
.services__grid h3 {
    margin-bottom: 10px;
}
.services__grid p {
    margin-bottom: 20px;
}

/* Footer */
.footer__links {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    border-top: 1px solid black;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px var(--side-padding);
    border-top: 1px solid black;
    align-items: center;
}
.footer__socials img {
    width: 35px;
    padding-left: 15px;
}



